name: ci

on: push

env:
  GROUP: senacor
  COMMIT_SHA: ${{ github.sha }}
  SERVICE_NAME: simple-provider
  DOCKER_NAME: ghcr.io/${{ github.repository }}
  DOCKER_REGISTRY: ghcr.io
  REPO: simple-provider

  POSTGRES_VERSION: "13.3"
jobs:

  ## Synchronous code quality checks, potentially failing build

  check-deployment-scripts:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      - name: Check Deployment Scripts
        run: shellcheck deployment/*.sh

  check-dockerfile:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      - name: Docker file lint
        uses: hadolint/hadolint-action@v1.5.0
        with:
          dockerfile: Dockerfile

  unit-test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      - name: Set up JDK 11
        uses: actions/setup-java@v1
        with:
          java-version: 11

      - name: Cache Maven packages
        uses: actions/cache@v2
        with:
          path: ~/.m2
          key: ${{ runner.os }}-m2-${{ hashFiles('**/pom.xml') }}
          restore-keys: ${{ runner.os }}-m2

      - name: Execute Unit Tests
        run: ./mvnw -B test

  integration-test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      - name: Set up JDK 11
        uses: actions/setup-java@v1
        with:
          java-version: 11

      - name: Cache Maven packages
        uses: actions/cache@v2
        with:
          path: ~/.m2
          key: ${{ runner.os }}-m2-${{ hashFiles('**/pom.xml') }}
          restore-keys: ${{ runner.os }}-m2

      - name: Execute Integration tests
        run: ./mvnw -B -DskipUTs integration-test

  validate-k8s-manifests:
    needs:
      - check-deployment-scripts
    runs-on: ubuntu-latest
    env:
      AWS_DEFAULT_REGION: eu-west-2
      AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
      AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
      POSTGRES_USER: ${{ secrets.POSTGRES_USER }}
      POSTGRES_PASSWORD: ${{ secrets.POSTGRES_PASSWORD }}
    steps:
      - uses: actions/checkout@v2

      - name: Get Kubernetes Credentials
        run: |
           aws eks update-kubeconfig \
             --name ${{ secrets.KUBERNETES_CLUSTER_NAME }} \
             --role-arn ${{ secrets.KUBERNETES_CLUSTER_DEPLOY_ROLE }}

      - name: Render Manifests
        run: deployment/render.sh

      - name: Validate Deployment Manifests
        run: |
          kubectl apply --dry-run=client --validate=true -f rendered/

  ## Main artefact creation

  docker:
    needs:
      - check-dockerfile
      - unit-test
      - integration-test
    runs-on: ubuntu-latest
    env:
      PUSH_DOCKER_IMAGE: true
    steps:
      - uses: actions/checkout@v2

      - name: Set up JDK 11
        uses: actions/setup-java@v1
        with:
          java-version: 11

      - name: Package Java Application
        run: ./mvnw -B package -DskipUTs -DskipITs

      - name: "Docker: Set up QEMU"
        uses: docker/setup-qemu-action@v1

      - name: "Docker: Set up Docker Buildx"
        uses: docker/setup-buildx-action@v1

      - name: "Docker: Login to Container Registry"
        uses: docker/login-action@v1
        if: env.PUSH_DOCKER_IMAGE == 'true'
        with:
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
          registry: ${{ env.DOCKER_REGISTRY }}

      - name: "Docker: Build and push to Container Registry"
        uses: docker/build-push-action@v2
        with:
          context: .
          tags: |
            ghcr.io/${{ github.repository }}:${{ github.sha }}
          push: ${{ env.PUSH_DOCKER_IMAGE }}

  ## Continuous deployment to development environment

  deploy:
    if: github.ref == 'refs/heads/main'
    needs:
      - validate-k8s-manifests
      - docker
    runs-on: ubuntu-latest
    env:
      AWS_DEFAULT_REGION: eu-west-2
      AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
      AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
      POSTGRES_USER: ${{ secrets.POSTGRES_USER }}
      POSTGRES_PASSWORD: ${{ secrets.POSTGRES_PASSWORD }}
    steps:
      - uses: actions/checkout@v2

      - name: Get Kubernetes Credentials
        run: |
           aws eks update-kubeconfig \
             --name ${{ secrets.KUBERNETES_CLUSTER_NAME }} \
             --role-arn ${{ secrets.KUBERNETES_CLUSTER_DEPLOY_ROLE }}

      # TODO: this is a duplicate. In Gitlab-CI it could reuse artifacts from `validate-k8s-manifests`
      # Find out how to replicate/emulate artifacts in Github Actions
      - name: Render Manifests
        run: deployment/render.sh

      - name: Deploy Application
        run: |
          kubectl apply -f rendered/

  ## Asynchronous checks,  not blocking deployment

  postman-test:
    needs:
      - docker
    name: postman test
    runs-on: ubuntu-latest
    services:
      test-service:
        image: ghcr.io/${{ github.repository }}:${{ github.sha }}
        ports:
          - 8080:8080
    steps:
      - uses: actions/checkout@v2

      - name: Set up NodeJS runtime
        uses: actions/setup-node@v2
        with:
          node-version: 14

      - name: Install newman runner
        run: npm install newman -g

      - name: Execute Postman Collection
        run: newman run postman/postman_collection.json

  dependency-scan:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      - name: Set up JDK 11
        uses: actions/setup-java@v1
        with:
          java-version: 11

      - name: Cache Maven packages
        uses: actions/cache@v2
        with:
          path: ~/.m2
          key: ${{ runner.os }}-m2-${{ hashFiles('**/pom.xml') }}
          restore-keys: ${{ runner.os }}-m2

      - name: Execute dependency check
        run: ./mvnw -B dependency-check:check

  image-scan:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: 3.8
      - name: Install anchorecli
        run: |
          python -m pip install --upgrade pip
          pip install anchorecli
      - name: Start scan of image
        run: anchore-cli --u ${{ secrets.ANCHORE_CLI_USER }} --p ${{ secrets.ANCHORE_CLI_USER_PASSWORD }} \
          --url ${{ secrets.ANCHORE_HOST } \
          image add ghcr.io/${{ github.repository }}:${{ github.sha }}
      - name: Wait until scan of image is finished
        run: anchore-cli --u ${{ secrets.ANCHORE_CLI_USER }} --p ${{ secrets.ANCHORE_CLI_USER_PASSWORD }} \
          --url ${{ secrets.ANCHORE_HOST } \
          image wait ghcr.io/${{ github.repository }}:${{ github.sha }}
      - name: Check result of image scan
        run: anchore-cli --u ${{ secrets.ANCHORE_CLI_USER }} --p ${{ secrets.ANCHORE_CLI_USER_PASSWORD }} \
          --url ${{ secrets.ANCHORE_HOST } \
          image evaluate check ghcr.io/${{ github.repository }}:${{ github.sha }}

  sonar-scan:
    runs-on: ubuntu-latest
    env:
      SONAR_TESTS: src/test/kotlin
      SONAR_SOURCES: src/main/kotlin
      SONAR_EXCLUSIONS: "**/model/**"
      SONAR_URL: ${{ secrets.SONAR_URL }}
      SONAR_LOGIN: ${{ secrets.SONAR_TOKEN }}
      COMMIT_BRANCH: ${{ github.ref }}
      COMMIT_SHA: ${{ github.sha }}
      NODE_RELEASE: node-v13.2.0-linux-x64
    steps:
      - uses: actions/checkout@v2
      - name: sonar static analiysis
        continue-on-error: true
        run: |
          curl -sSL "https://nodejs.org/download/release/v13.2.0/${{ env.NODE_RELEASE }}.tar.gz" | tar xz
          ./mvnw verify sonar:sonar  \
          -Dsonar.nodejs.executable=${{ env.NODE_RELEASE }}/bin/node \
          -Dsonar.host.url=${{ env.SONAR_URL }} -Dsonar.login=${{ env.SONAR_LOGIN }} \
          -Dsonar.javascript.lcov.reportPaths=target/js-coverage/lcov.info \
          -Dsonar.sources=${{ env.SONAR_SOURCES }} \
          -Dsonar.projectKey=simple-provide \
          -Dsonar.tests=${{ env.SONAR_TESTS }} \
          -Dsonar.exclusions=${{ env.SONAR_EXCLUSIONS }} \
          -Dsonar.dependencyCheck.htmlReportPath=target/dependency-check-report.html \
          -Dsonar.dependencyCheck.xmlReportPath=target/dependency-check-report.xml \
          -Dsonar.dependencyCheck.jsonReportPath=target/dependency-check-report.json
